<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dopewars - {{.Title}}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="shortcut icon" href="/static/images/cosmic.png">
</head>
<body>
    {{ template "navigation_bar" . }}

     <div class="container mainpage">
         <div class="row">
             <div class="col-xs-3 barspace status">
                 Name: {{.Game.Name}}<br />
                 Health: {{ .Game.Health }}<br />
 <!--                Game Length: 30<br />
                 Current Day: {{.Game.Year}}<br /> -->
                <br />
                Cash: {{.Game.Cash | humanizeComma}}<br />
                Bank: {{.Game.Bank | humanizeComma}}<br />
                Debt: {{.Game.Debt | humanizeComma}}<br />
                Worth: {{.Game.Worth | humanizeComma}}<br />
                <br />
                {{ template "inventory" . }}
			</div>
			<div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            {{ template "progress_bar" . }}
                        </div>
                    </div>
                </div>
                <div class="row barspace center-image">
                    <div class="col-xs-12 imageHolder">
                        {{ template "map" . }} <div class="caption"><br>Click anywhere on the map to travel there</div>
                    </div>
                </div>
			</div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        {{ template "actions" . }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ template "market_prices" . }}
                    </div>
                </div>
		    </div>
        </div>
        <div class="row barspace">
                <div class="col-xs-12"><textarea class="form-control" rows="5" id="comment">{{ range .Game.Messages }}{{ . }} {{ end }}</textarea></div>
        </div>
        <div class="row barspace">
            <div class="col-xs-12 center">
                &copy2016 by C&P Software
            </div>
        </div>
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {{ template "cabTemplate" . }}
        {{ template "buyTemplate" . }}
        {{ template "sellTemplate" . }}
        <script>
            setInterval(function(){ $('#comment').scrollTop($('#object')[0].scrollHeight); }, 3000);
        </script>
	</div>
</body>
