{{define "actions"}}
<h3>Actions</h3>
<button type="button" class="btn btn-default btn-xs actionwidth" data-toggle="modal" data-target="#buyModal">Buy</button>
<button type="button" class="btn btn-info btn-xs actionwidth" data-toggle="modal" data-target="#sellModal">Sell</button>
<button type="button" class="btn btn-warning btn-xs actionwidth">Bank</button>
<button type="button" class="btn btn-success btn-xs actionwidth">Loan</button>
<!-- <button type="button" class="btn btn-primary btn-xs actionwidth" data-toggle="modal" data-target="#cabModal">Cab</button> -->
<form action="/delete"><button type="submit" class="btn btn-default btn-xs maxwidth">New Game</button></form>
{{end}}